<div class="login-dark" >
    <form method="post">
        <div class="illustration"><i class="icon ion-ios-locked-outline"></i></div>
        <div class="form-group"><input class="form-control" ng-model="korisnik.kime" requestType="email" name="email" placeholder="Email"></div>
        <div class="form-group"><input class="form-control" ng-model="korisnik.lozinka" requestType="password" name="password" placeholder="Password"></div>
        {{korisnik}}
        <div class="form-group"><button ng-click="toOsnovna()" class="btn btn-primary btn-block" requestType="submit">Log In</button></div>
    </form>
</div>
