<div>
    <nav class="navbar navbar-dark navbar-expand-md navigation-clean-button" style="padding:0px;">
        <div class="container"><a href="#" class="navbar-brand">Livade</a>
                <span class="navbar-text actions">
                    <a  class="btn btn-dark" ng-click="odjaviSe()">Odjavi se</a>
                </span>
        </div>
    </nav>
</div>
<div class="features-boxed" >
    <div class="container">
        <div class="row justify-content-center features" style="padding:0px;background-size:cover;width:1193px;height:1000px;padding-top:200px;">
            <div class="col item">
                <div class="box"><i class="fa fa-list-alt icon"></i>
                    <a class="btn btn-light action-button" data-toggle="modal" data-target="#modalDodavanje">dodavanje smeštaja</a>
                </div>
            </div>
            <div class="col item">
                <div class="box"><i class="fa fa-list-alt icon"></i><br>
                    <a class="btn btn-light action-button" ng-click="ucitajPristigle()" data-toggle="modal" data-target="#modalPoruke">poruke</a>
                </div>
            </div>
            <div class="col item">
                <div class="box"><i class="fa fa-list-alt icon"></i>
                    <a class="btn btn-light action-button" ng-click="ucitajSmestaje()" data-toggle="modal" data-target="#modalZauzetost">postavljanje zauzetosti</a>
                </div>
            </div>
            <div class="col item">
                <div class="box"><i class="fa fa-list-alt icon"></i>
                    <a class="btn btn-light action-button" ng-click="ucitajPristigle()" data-toggle="modal" data-target="#modalPotvrda">potvrda rezervacija</a>
                </div>
            </div>


        </div>

        <!-- MODAL LOGIN-->
        <div class="modal fade" data-backdrop="static" data-keyboard="false" id="modalLogin" role="dialog">
            <div class="modal-dialog">

                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-body">
                        <div class="login-dark" >
                            <form method="post">
                                <div class="illustration"><i class="icon ion-ios-locked-outline"></i></div>
                                <div class="form-group"><input type="text" class="form-control" ng-model="korisnik.kime"  name="username" placeholder="Korisničko ime"></div>
                                <div class="form-group"><input type="password" class="form-control" ng-model="korisnik.lozinka"  name="password" placeholder="Lozinka"></div>
                                <div class="form-group"><button ng-click="zaloguj()" class="btn btn-primary btn-block" type="submit">Log In</button></div>
                            </form>
                        </div>
                    </div>
                </div>

            </div>
        </div>
        <!-- MODAL DODAVANJE-->
        <div class="modal fade" data-backdrop="static" data-keyboard="false" id="modalDodavanje" role="dialog">
            <div class="modal-dialog">

                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-body">
                        <div class="d-flex flex-column justify-content-center align-items-center" style="padding:100px;">
                            <form style="padding:0px;margin:0px;"><label class="d-flex flex-row justify-content-center"style="padding:0px;font-size:20px;">Dodaj smeštajnu jedinicu</label>
                                <input class="form-control" type="text" placeholder="Država" ng-model="tempLokacija.drzava" style="margin-bottom:20px;padding:0px;">
                                <input class="form-control" type="text" placeholder="Mesto" ng-model="tempLokacija.mesto" style="margin-bottom:20px;padding:0px;">
                                <input class="form-control" type="number" placeholder="Kapacitet" max="20" ng-model="smestaj.brojOsoba" style="margin-bottom:20px;padding:0px;">
                                <textarea class="form-control form-control-lg" placeholder="Opis" ng-model="smestaj.opis" style="margin-bottom:20px;padding:0px;"></textarea>
                                <label>Tip smeštaja:</label>
                                <select class="form-control" ng-model="smestaj.tipSmestaja" ng-options="tip.naziv for tip in tipovi" style="margin-bottom:20px;padding:0px;"></select>
                                <label>Kategorija smeštaja:</label>
                                <select class="form-control" ng-model="smestaj.kategorijaSmestaja" ng-options="kategorija.naziv for kategorija in kategorije" style="margin-bottom:20px;padding:0px;"></select>
                                <div class="container" style="margin-bottom:20px;padding:0px;">
                                    <label>Slika:</label>
                                    <div class="form-inline">
                                        <input class="form-control mr-1" type="url" placeholder="url slike" ng-model="tempSlika">
                                        <button class="btn btn-light" ng-click="dodajSliku(tempSlika)" style="background-color:rgb(221,221,221);">Dodaj sliku</button>
                                    </div>
                                </div>
                                <label>Dodatne usluge:</label>
                                <div ng-dropdown-multiselect="" options="usluge" selected-model="izabraneUsluge" extra-settings="prikazSettings" style="margin-bottom:20px;padding:0px;"></div>
                                <button class="btn btn-light" ng-click="ngMesecno(mesecno)" type="button" style="background-color:rgb(221,221,221);margin-bottom:20px;">Mesečni plan cena&nbsp;<i class="fa fa-chevron-down"></i></button>
                                <div class="col-xs-2" ng-show="mesecno" >
                                    <ul>
                                        <li><label>Januar</label>&nbsp<input type="number" style="width: 60px" ng-model="m1.vrednost"></li>
                                        <li><label>Februar</label>&nbsp<input type="number" style="width: 60px" ng-model="m2.vrednost"></li>
                                        <li><label>Mart</label>&nbsp<input type="number" style="width: 60px" ng-model="m3.vrednost"></li>
                                        <li><label>April</label>&nbsp<input type="number" style="width: 60px" ng-model="m4.vrednost"></li>
                                        <li><label>Maj</label>&nbsp<input type="number" style="width: 60px" ng-model="m5.vrednost"></li>
                                        <li><label>Jun</label>&nbsp<input type="number" style="width: 60px" ng-model="m6.vrednost"></li>
                                        <li><label>Jul</label>&nbsp<input type="number" style="width: 60px" ng-model="m7.vrednost"></li>
                                        <li><label>Avgust</label>&nbsp<input type="number" style="width: 60px" ng-model="m8.vrednost"></li>
                                        <li><label>Septembar</label>&nbsp<input type="number" style="width: 60px" ng-model="m9.vrednost"></li>
                                        <li><label>Oktobar</label>&nbsp<input type="number" style="width: 60px" ng-model="m10.vrednost"></li>
                                        <li><label>Novembar</label>&nbsp<input type="number" style="width: 60px" ng-model="m11.vrednost"></li>
                                        <li><label>Decembar</label>&nbsp<input type="number" style="width: 60px" ng-model="m12.vrednost"></li>
                                    </ul>
                                </div>
                                <button ng-click="dodajSmestaj()" class="btn btn-primary btn-block" requestType="submit" style="margin-top:30px;padding:0px;" >Dodaj</button>
                            </form>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Zatvori</button>
                    </div>
                </div>

            </div>
        </div>
        <!-- MODAL POTVRDA-->
        <div class="modal fade" id="modalPotvrda" role="dialog">
            <div class="modal-dialog">

                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-body">
                        <div  class="span3">
                            <div class="form-group pull-left">
                                <h4> Pristigle rezervacije </h4>
                            </div>
                            <span class="counter pull-right"></span>

                            <table data-toggle="table" class="table table-hover table-striped table-bordered results">
                                <tr>
                                    <th> klijent </th>
                                    <th> id smeštaja </th>
                                    <th> opis smeštaja </th>
                                    <th> od </th>
                                    <th> do </th>
                                    <th></th>
                                </tr>
                                <tr ng-repeat="reza in rezervacije | orderBy:od ">
                                    <td >{{reza.klijent.kime}}</td>
                                    <td>{{reza.smestaj.id}}</td>
                                    <td>{{reza.smestaj.opis}}</td>
                                    <td>{{reza.od | date}}</td>
                                    <td>{{reza.paOndaDo | date}}</td>
                                    <td >
                                        <button class="btn btn-primary" type="button" ng-click="potvrdiRezu(reza)" >Potvrdi</button>
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Zatvori</button>
                    </div>
                </div>

            </div>
        </div>
        <!-- MODAL PORUKE-->
        <div class="modal fade" id="modalPoruke" role="dialog">
            <div class="modal-dialog">

                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-body">
                        <div  class="span3">
                            <div class="form-group pull-left">
                                <h4> Rezervacije </h4>
                            </div>
                            <span class="counter pull-right"></span>

                            <table data-toggle="table" class="table table-hover table-striped table-bordered results">
                                <tr>
                                    <th> klijent </th>
                                    <th> rezervacija </th>
                                    <th> opis smeštaja </th>
                                    <th> od </th>
                                    <th> do </th>
                                    <th></th>
                                </tr>
                                <tr ng-repeat="reza in rezervacije | orderBy:od ">
                                    <td >{{reza.klijent.kime}}</td>
                                    <td>{{reza.id}}</td>
                                    <td>{{reza.smestaj.opis}}</td>
                                    <td>{{reza.od | date}}</td>
                                    <td>{{reza.paOndaDo | date}}</td>
                                    <td >
                                        <button class="btn btn-primary" type="button" ng-click="otvoriPoruke(reza)" >Poruke</button>
                                    </td>
                                </tr>
                            </table>
                            <div ng-hide="showDiv">
                                <table data-toggle="table" class="table table-hover table-striped table-bordered results">
                                    <tr>
                                        <th> pošiljalac </th>
                                        <th> tekst poruke </th>
                                    </tr>
                                    <tr ng-repeat="poruka in poruke | orderBy:poRedu ">
                                        <td >{{poruka.posiljalac.kime}}</td>
                                        <td >{{poruka.tekst}}</td>
                                    </tr>
                                </table>

                                <textarea id="tekstporuka" class="form-control form-control-lg" placeholder="Poruka"  ng-model="novaPoruka.tekst" style="margin-bottom:20px;padding:0px;"></textarea>
                                <button class="btn btn-primary" type="button" ng-click="posaljiPoruku()"  >Pošalji</button>
                            </div>

                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Zatvori</button>
                    </div>
                </div>

            </div>
        </div>
        <!-- MODAL ZAUZETOST-->
        <div class="modal fade" id="modalZauzetost" role="dialog">
            <div class="modal-dialog">

                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-body">
                        <h4> Postavi zauzetost </h4>
                        <br>
                        <label>smeštaj:</label>
                        <select class="form-control" ng-model="rezervacija.smestaj" ng-options="smes.opis for smes in smestaji" style="margin-bottom:20px;padding:0px;"></select>
                        <label>od:</label>
                        <input type="date" ng-model="rezervacija.od" class="form-control" style="margin-bottom:20px;"/>
                        <label>do:</label>
                        <input type="date" ng-model="rezervacija.paOndaDo" min="{{rezervacija.od | date:'yyyy-MM-dd'}}" class="form-control" style="margin-bottom:20px;"/>
                        <button ng-click="postaviFejk()" class="btn btn-primary btn-block"  style="margin-top:20px;padding:0px;" >Postavi</button>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Zatvori</button>
                    </div>
                </div>

            </div>
        </div>

    </div>
</div>
