<div>
    <nav class="navbar navbar-light navbar-expand-md navigation-clean-button" style="padding:0px;">
        <div class="container"><a href="#" class="navbar-brand">Livade</a>
                <ul class="nav navbar-nav mr-auto">
                    <li class="nav-item"><a ng-click="pribaviReze()"class="btn"  data-toggle="modal" data-target="#modalReze" ng-hide="gost">Moje rezervacije</a></li>
                </ul>
                <span class="navbar-text actions">
                    <a  class="btn" data-toggle="modal" data-target="#modalLogin" ng-show="gost">Prijavi se</a>
                    <a  class="btn btn-light action-button" data-toggle="modal" ng-show="gost" data-target="#modalRegister">Registracija</a>
                    <a  class="btn" ng-click="odjaviSe()" ng-hide="gost">Odjavi se</a>
                </span>
        </div>
    </nav>
</div>
<!-- MODAL LOGIN-->
<div class="modal fade" data-backdrop="static" data-keyboard="false" id="modalLogin" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-body">
                <h3 align="center" style="margin: 20px">Prijavite se</h3>
                <div class="login-dark" >
                    <form method="post">
                        <div class="illustration"><i class="icon ion-ios-locked-outline"></i></div>
                        <div class="form-group"><input type="text" class="form-control" ng-model="korisnik.kime"  name="username" placeholder="Korisničko ime"></div>
                        <div class="form-group"><input type="password" class="form-control" ng-model="korisnik.lozinka"  name="password" placeholder="Lozinka"></div>
                        <div class="form-group"><button ng-click="zaloguj()" class="btn btn-primary btn-block" type="submit">Log In</button></div>
                    </form>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Zatvori</button>
            </div>
        </div>

    </div>
</div>
<!-- MODAL SLIKE-->
<div class="modal fade" id="modalSlike" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-body">
                <div class="photo-gallery">
                    <div class="container">
                        <div class="intro">
                            <h2 class="text-center">Slike smeštaja</h2>
                        </div>
                        <div class="row photos" ng-repeat="sl in sliks">
                            <div style="margin: 20px" class="col-sm-6 col-md-4 col-lg-3 item"><img alt="nema slika" width="350" height="auto" src="{{sl}}"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Zatvori</button>
            </div>
        </div>

    </div>
</div>
<!-- MODAL REGISTER-->
<div class="modal fade" data-backdrop="static" data-keyboard="false" id="modalRegister" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-body">
                <h3  align="center" style="margin: 20px">Registrujte se</h3>
                <div class="login-dark" >
                    <form method="post">
                        <div class="illustration"><i class="icon ion-ios-locked-outline"></i></div>
                        <div class="form-group"><input type="text" class="form-control" ng-model="rega.kime"  name="username" placeholder="Korisničko ime"></div>
                        <div class="form-group"><input type="password" class="form-control" ng-model="rega.lozinka"  name="password" placeholder="Lozinka"></div>
                        <div class="form-group"><button ng-click="zaregistruj()" class="btn btn-primary btn-block" type="submit">Register</button></div>
                    </form>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Zatvori</button>
            </div>
        </div>

    </div>
</div>
<!-- MODAL REZE-->
<div class="modal fade" data-backdrop="static" data-keyboard="false" id="modalReze" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-body">
                <h3  align="center" style="margin: 20px">Moje rezervacije</h3>
                <div  class="span3">
                    <span class="counter pull-right"></span>

                    <table data-toggle="table" class="table table-hover table-striped table-bordered results">
                        <tr>
                            <th> rezervacija </th>
                            <th> opis smeštaja </th>
                            <th> od </th>
                            <th> do </th>
                            <th></th>
                        </tr>
                        <tr ng-repeat="reza in rezervacije | orderBy:od ">
                            <td>{{reza.id}}</td>
                            <td>{{reza.smestaj.opis}}</td>
                            <td>{{reza.od | date}}</td>
                            <td>{{reza.paOndaDo | date}}</td>
                            <td >
                                <button class="btn btn-primary" type="button" ng-click="otvoriPoruke(reza)" >Poruke</button>
                            </td>
                        </tr>
                    </table>
                    <div ng-hide="showDiv">
                        <table data-toggle="table" class="table table-hover table-striped table-bordered results">
                            <tr>
                                <th> pošiljalac </th>
                                <th> tekst poruke </th>
                            </tr>
                            <tr ng-repeat="poruka in poruke | orderBy:poRedu ">
                                <td >{{poruka.posiljalac.kime}}</td>
                                <td >{{poruka.tekst}}</td>
                            </tr>
                        </table>

                        <textarea id="tekstporuka" class="form-control form-control-lg" placeholder="Poruka"  ng-model="novaPoruka.tekst" style="margin-bottom:20px;padding:0px;"></textarea>
                        <button class="btn btn-primary" type="button" ng-click="posaljiPoruku()"  >Pošalji</button>
                    </div>

                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Zatvori</button>
            </div>
        </div>

    </div>
</div>


<div style="margin-top:0px;background-color:rgba(255,25,255,0);background-image:url('img/livada.jpg');background-position:center;background-size:cover;">
    <form id="lakisrc" style="width:550px;background-color:#ffffff;">
        <h1 class="text-center" style="font-weight:bold;color:rgb(150,196,49);">LIVADE</h1>
        <h4 class="text-center" style="margin-top:-15px;color:rgb(231,84,21);font-family:Allan, cursive;">Turizam</h4>
        <input class="form-control" type="text" ng-model="pretraga.lokacija" placeholder="Lokacija" style="margin-bottom:25px;">
        <div class="form-row">
            <div class="col"><label>Datum polaska</label><input class="form-control" type="date" ng-model="pretraga.prvi"></div>
            <div class="col"><label>Datum povratka</label><input class="form-control" type="date" min="{{pretraga.prvi | date:'yyyy-MM-dd'}}" ng-model="pretraga.drugi"></div>
            <div class="col"><label>Broj osoba</label><input class="form-control" type="number" ng-model="pretraga.brojOsoba" min="1" max="12"></div>
        </div><button class="btn btn-info float-right" ng-click="pretrazi()" type="button" style="margin-top:10px;background-color:rgb(150,196,49);">Pretraga</button></form>
</div>
<button class="btn btn-primary" ng-click="ngNapredna(napredna)" type="button" style="background-color:rgb(78,163,246);margin-left:10px;margin-top:20px;">Napredna pretraga&nbsp;<i class="fa fa-chevron-down"></i></button>
<div class="row" style="margin-top:0px;">
    <div  class="col-3">
        <div ng-show="napredna" style="margin:15px;margin-right:15px;margin-left:50px;width:260px;">
            <label>Tip smeštaja:</label><br>
            <select ng-change="switchPretip(pretip)" ng-model="pretip">
                <optgroup label="Tip smeštaja">
                    <option value="" selected="">Svi tipovi</option>
                    <option value="hotel" selected="">Hotel</option>
                    <option value="bad&breakfast">Bad&amp;Breakfast</option>
                    <option value="apartman">Apartman</option>
                </optgroup>
            </select>
            <label style="margin-top:20px;">Kategorija smeštaja:</label>
            <select style="margin-bottom:20px;" ng-change="switchPrekat(prekat)" ng-model="prekat">
                <optgroup label="Kategorija smeštaja">
                    <option value="" selected="">Sve kategorije</option>
                    <option value="nekategorisan" selected="">Nekategorisan</option>
                    <option value="1 zvezdica">1 zvezdica</option>
                    <option value="2 zvezdice">2 zvezdice</option>
                    <option value="3 zvezdice">3 zvezdice</option>
                    <option value="4 zvezdica">4 zvezdica</option>
                    <option value="5 zvezdica">5 zvezdica</option>
                </optgroup>
            </select>
            <div class="form-check"><input ng-click="switchMod1()" class="form-check-input" type="checkbox" id="formCheck-park"><label class="form-check-label" for="formCheck-park">Parking&nbsp;</label></div>
            <div class="form-check"><input ng-click="switchMod2()" class="form-check-input" type="checkbox" id="formCheck-wifi"><label class="form-check-label" for="formCheck-wifi">WiFi<br></label></div>
            <div class="form-check"><input ng-click="switchMod3()" class="form-check-input" type="checkbox" id="formCheck-doruc"><label class="form-check-label" for="formCheck-doruc">Doručak<br></label></div>
            <div class="form-check"><input ng-click="switchMod4()" class="form-check-input" type="checkbox" id="formCheck-polup"><label class="form-check-label" for="formCheck-polup">Polupansion<br></label></div>
            <div class="form-check"><input ng-click="switchMod5()" class="form-check-input" type="checkbox" id="formCheck-punp"><label class="form-check-label" for="formCheck-punp">Pansion<br></label></div>
            <div class="form-check"><input ng-click="switchMod6()" class="form-check-input" type="checkbox" id="formCheck-tv"><label class="form-check-label" for="formCheck-tv">TV<br></label></div>
            <div class="form-check"><input ng-click="switchMod7()" class="form-check-input" type="checkbox" id="formCheck-kuhi"><label class="form-check-label" for="formCheck-kuhi">Mini kuhinja/kuhinja<br></label></div>
            <div class="form-check"><input ng-click="switchMod8()" class="form-check-input" type="checkbox" id="formCheck-kupa"><label class="form-check-label" for="formCheck-kupa">Privatno kupatilo<br></label></div>

        </div>
    </div>
    <!--REZULTATI PRETRAGE-->
    <div class="col-9">
        <div>
            <div class="row">
                <div class="col">
                    <p class="float-left" style="margin-bottom:0px;margin-right:10px;font-size:20px;"><strong>Rezultati pretrage:</strong></p>

                    <select ng-change="switchKrit(krit)" ng-model="krit" class="float-right" style="margin-right:135px;">
                        <option value="cena" selected="" >Cena</option>
                        <option value="tipSmestaja" >Ocena korisnika</option>
                        <option value="kategorija" >Kategorija smeštaja</option>
                    </select>
                    <p class="float-right" style="margin-bottom:0px;margin-right:10px;">Sortiraj po:</p>
                </div>
            </div>
            <table data-toggle="table" class="table table-hover table-striped table-bordered results">
                <tr>
                    <th> opis smeštaja </th>
                    <th> tip smeštaja </th>
                    <th> kategorija </th>
                    <th> slike </th>
                    <th> dodatne usluge </th>
                    <th> ukupna cena </th>
                    <th></th>
                </tr>
                <tr ng-repeat="stigla in stigle | filter:pretip | filter:prekat| filter:mod1| filter:mod2| filter:mod3| filter:mod4| filter:mod5| filter:mod6| filter:mod7| filter:mod8| orderBy:kriter:true ">
                    <td >{{stigla.opis}}</td>
                    <td>{{stigla.kategorija}}</td>
                    <td>{{stigla.tipSmestaja}}</td>
                    <td><img src="{{stigla.slike[0]}}" class="img-circle" alt="Nema slika" width="100" height="100"><button ng-click="showSlike(stigla)" data-toggle="modal" data-target="#modalSlike" class="btn btn-primary" type="button">još slika</button></td>
                    <td>{{stigla.usluge.join(", ")}}</td>
                    <td>{{stigla.cena}}</td>
                    <td ng-hide="gost">
                        <button class="btn btn-primary" requestType="button" ng-click="rezervisi(stigla)" >Rezerviši</button>
                    </td>
                </tr>
            </table>


        </div>
    </div>
</div>


